@import "tailwindcss";

:root {
  --font-sans: var(--font-dm-sans);
  --font-heading: var(--font-paytone-one);
}

body {
  font-family: var(--font-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}
.font-sans {
  font-family: var(--font-sans), sans-serif;
}

.font-heading {
  font-family: var(--font-heading), sans-serif;
}

